page-eq-5d-5l6 {

  #slider {
    z-index: -10000 !important;
    position: fixed;
    top: 90px;
    margin-left: 256px;
    width: 96px;
  }

  .smiley {
    position: fixed;
    top: 280px;
    width: 230px;
    height: 200px;
  }

  #smiley{
    margin-left: -5%;
  }

  #eq6Text{
    position: fixed;
    bottom: 235px;
    left: 8%;
  }

  ion-image {
    background-color: transparent;
  }

}
