page-pain {

  /**
  * sets the position of the image for the likert scale
  */
  #slider {
    z-index: -10000 !important;
    position: fixed;
    top: 90px;
    margin-left: 267px;
    width: 85px;
  }

  /**
  * sets the position of the div with the smiley and "erklärung"
  */
  .smiley {
    position: fixed;
    top: 280px;
    width: 230px;
    height: 200px;
  }

  /**
  * sets the position of the smiley image
  */
  #smiley {
    margin-left: -5%;
  }

  /**
  * sets the position of the "erklärungstext"
  */
  #painText {
    position: fixed;
    bottom: 235px;
    left: 8%;
  }

  /**
  * sets the position of the text
  */
  .linkeSeite p {
    margin-top: -3px;
  }
}
