page-schlaf5 {

  /**
  * sets the position of the image for the likert scale
  */
  img {
    z-index: -10000 !important;
    position: fixed;
    top: 90px;
    margin-left: 267px;
    width: 85px;
  }

  /**
  * sets the position of the text
  */
  .linkeSeite p {
    margin-top: -3px;
  }

  /**
  * sets the position of the "erklärungstext"
  */
  .linkeSeite .erklaerung p {
    margin-top: 6px;
  }

  /**
  * sets the position of the arrow in the "Erklärung"
  */
  #pfeil {
    position: fixed;
    left: -235px;
    top: 13%;
  }
}
