page-schlaf2 {

  /**
  * sets the border color as a variable
  */
  body {
    --vaBorder: none;
  }

  /**
  * sets the height of the list item
  */
  ion-item {
    height: 30px;
  }

  /**
  * sets the border of the text input
  */
  #textSchlaf2 {
    border: var(--vaBorder);
  }

  /**
  * sets the font of the text input
  */
  #textSchlaf2 {
    font-family: Asap_Regular;
    font-weight: 400;
  }

}
