page-schlaf2 {

  body{
    --vaBorder: none;
  }

  ion-item {
    height: 30px;
  }

  #textSchlaf2{
    border: var(--vaBorder);
  }

  #textSchlaf2{
    font-family: Asap_Regular;
    font-weight: 400;
  }

}
