page-eq-5d-5l3 {

  /**
  * sets the font and the position of the small explanation text
  */
  .klein {
    font-family: Asap_Regular;
    font-size: 12pt;
    margin-top: -5px;
    margin-bottom: 20px;
  }
}
