page-schlaf1 {

  body{
    --vaBorder: none;
  }

  ion-textarea {
    border: var(--vaBorder);
    font-family: Asap_Regular;
    font-weight: 400;
  }

  .row {
    margin-top: -20px;
  }

  .navigation {
    height: 50px;
  }

  ion-item {
    height: 30px;
  }
  .list-ios{
    margin-bottom: 5px;
  }

}
