page-erkl-arm {

  /**
  * sets the position of the text
  */
  p{
    position: fixed;
    width: 200px;
  }

  /**
  * sets the position of the image
  */
  img{
    position: fixed;
    top: 145px;
    right: 10%;
    width: 60px;
  }
}
