page-blutdruck {

  /**
  * sets the border for the table
  */
  table,
  th,
  td {
    border: none;
  }

  /**
  * sets the width of the table
  */
  table {
    width: 90%;
  }

  /**
  * sets the height and font size for the table
  */
  td {
    height: 50px;
    font-size: 14pt;
  }

  /**
  * sets the border for the input field
  */
  input {
    border-width: 1px;
    border-color: black;
  }

  /**
  * sets the color for the warning
  */
  #warning {
    color: red;
  }
}
