page-begleittherapie {

  fieldset {
    width: 95%;
    font-size: 14pt;
    border: none;
  }

  input {
    width: 42%;
    margin: 7px;
  }

  .begleitButton #begleit{
    background-color: #203B8F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    width: 100px;
    height: 33px;
    border: none;
    color: #ffffff;
  }

  .begleitButton #begleit:hover{
    background-color: #25A33C;
  }

  .begleitButton #begleit:focus{
    background-color: #25A33C;
  }


}
