page-begleittherapie {

  fieldset {
    width: 95%;
    font-size: 14pt;
    border: none;
  }

  input {
    width: 42%;
    margin: 7px;
  }

  .begleitButton {
    .segment-md .segment-button {
      background-color: #203B8F;
      font-family: Asap_Bold;
      font-size: 16pt;
      width: 100px;
      height: 40px;
      border: none;
      color: #ffffff;
      opacity: 1;
      margin: 10px;
    }

    .segment-ios .segment-button {
      background-color: #203B8F;
      font-family: Asap_Bold;
      font-size: 16pt;
      width: 100px;
      height: 40px;
      border: none;
      border-radius: none;
      color: #ffffff;
      opacity: 1;
      margin: 10px;
    }

    .segment-button {
      border: none;
      border-radius: none;
    }

    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
      background-color: #25A33C;
    }

    .segment-ios .segment-button.segment-activated {
      background-color: #25A33C;
    }

    .segment-ios .segment-button:first-of-type{
      border-top-left-radius: none !important;
      border-top-right-radius: none !important;
      border-bottom-left-radius: none !important;
      border-bottom-right-radius: none !important;
    }

    .segment-ios .segment-button:last-of-type{

      border-top-left-radius: none !important;
      border-top-right-radius: none !important;
      border-bottom-left-radius: none !important;
      border-bottom-right-radius: none !important;
    }
  }
}
