// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.no-scroll .scroll-content{
  overflow: hidden;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: bold;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: normal;
}

.radio ion-label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  color: #000;
}

.item-radio-checked.item-md ion-label {
  color: #25A33C;
}

.radio-md .radio-checked {
  border-color: #25A33C;
}

.radio-md .radio-inner{
  background-color: #25A33C;
}

.item-md{
  padding-left: 0px;
}

.navigation{
  height: 75px;
}
.navigation button{
  position: relative;
  float: left;
  background-color:#203B8F;
}
.navigation h1{
  position: relative;
  float: left;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20pt;
  margin-top: 10px;
}
.navigation label{
  position: relative;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  margin-left: 30px;
  margin-top: 15px;
}

.inhalt{
  float: left;
}
.inhalt .linkeSeite{
  position: relative;
  float: left;
  height: 500px;
}

#zurueck{
  position: fixed;
  bottom: 20px;
  width: 125px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  background-color: #203B8F;
}

.inhalt .rechteSeite{
  position: fixed;
  height: 500px;
  z-index: -1000;

}

.inhalt .rechteSeite #likert{
  z-index: 200;
  height: 450px;
  width: 480px;
  position: fixed;
  top: 100px;
  margin-left: 85px;
  transform: rotate(-90deg);
}

$track-w: 12.5em;
$track-h: .25em;
$thumb-d: 2em;

@mixin track() {
    box-sizing: border-box;
    border: none;
    width: $track-w; height: $track-h;
    //background: #ccc;
}

@mixin thumb() {
    box-sizing: border-box;
    border: none;
    width: $thumb-d; height: $thumb-d;
    border-radius: 50%;
    background: #25A33C;
}

[type='range'] {
    &, &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    margin: 0;
    padding: 0;
    width: $track-w; height: $thumb-d;
    background: transparent;
    font: 1em/1 arial, sans-serif;

    &::-webkit-slider-runnable-track {
        @include track
    }
    &::-moz-range-track { @include track }
    &::-ms-track { @include track }

    &::-webkit-slider-thumb {
        margin-top: .5*($track-h - $thumb-d);
        @include thumb
    }
    &::-moz-range-thumb { @include thumb }
    &::-ms-thumb {
        margin-top: 0;
        @include thumb
    }

    &::-ms-tooltip { display: none }
  }
/*.inhalt .rechteSeite #likert::-webkit-slider-thumb{
  color: #25A33C;
  background-color: aqua;
  -webkit-appearance: none;//sliderthumb-vertical;
  width: 100px;
  height: 100px;
  border-color: black;
  border-width: 2px;
}*/
/*input[type="range" i]::-webkit-slider-thumb, input[type="range" i]::-webkit-media-slider-thumb{
  -webkit-appearance: none;
  -webkit-user-modify: read-write !important;
  color: #25A33C;
  border-color: red;
  background-image: url(../assets/img/eq-5d-5l_scale.PNG)

}*/

#weiter{
  position: fixed;
  margin-left: 230px;
  bottom: 20px;
  width: 125px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  background-color: #203B8F;
}

.inhalt .linkeSeite .erklaerung{
  background-color: #25A33C;
  position: fixed;
  bottom: 200px;
  width: 230px;
  height: 100px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

