page-mood {

  #slider {
    z-index: -10000 !important;
    position: fixed;
    top: 90px;
    margin-left: 267px;
    width: 85px;
  }

  .smiley {
    position: fixed;
    top: 280px;
    width: 230px;
    height: 200px;
  }

  #smiley{
    margin-left: -5%;
  }

  #moodText{
    position: fixed;
    bottom: 235px;
    left: 8%;
  }

  .linkeSeite p{
    margin-top: -3px;
  }

  ion-image {
    background-color: transparent;
  }

}
