page-muedigkeit1 {

}
ion-navbar{
  float: left;
}
ion-navbar button{
  position: relative;
  float: left;
}
ion-navbar ion-title{
  position: relative;
  float: left;
}
ion-navbar label{
  position: relative;
  float: left;
}

.inhalt{
  float: left;
}
.inhalt .linkeSeite{
  position: relative;
  float: left;
}
.inhalt .rechteSeite{
  position: relative;
  float: left;
  height: 100%;
  background-color: royalblue;
}

.inhalt .rechteSeite #likert7{
  height: 200px;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  //Hintergrundbild!!!
}

.inhalt .rechteSeite #likert7::-moz-range-thumb{
  background: #25A33C;
}

.inhalt .rechteSeite #likert7::-ms-thumb{
  background: #25A33C;
}

.inhalt .rechteSeite #likert7::-webkit-slider-thumb{
  background: #25A33C;
}
