page-muedigkeit7 {


img{
    z-index: -10000 !important;
    position: fixed;
    top: 90px;
    margin-left: 275px;
    width: 76px;
  }

  #pfeil{
    position: fixed;
    left: -235px;
    top: 14%;
  }
}
