page-gewicht {

  /**
  * sets the border of the table
  */
  table,
  th,
  td {
    border: none;
  }

  /**
  * sets the width of the table
  */
  table {
    width: 90%;
  }

  /**
  * sets the height and font size of table
  */
  td {
    height: 50px;
    font-size: 14pt;
  }

  /**
  * sets the border of the text input
  */
  input {
    border-color: black;
    border-width: 1px;
  }

  /**
  * sets the color of the warning
  */
  #warningGW {
    color: red;
  }
}
