@font-face {

  font-family: Asap_Regular;
  src: url(../assets/fonts/Asap-Regular.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: Asap_Bold;
  src: url(../assets/fonts/Asap-Bold.ttf) format("ttf");
  font-weight: 700;
  }
