page-muedigkeit9 {

  /**
  * sets the position of the image for the likert scale
  */
  img {
    z-index: -10000 !important;
    position: fixed;
    top: 90px;
    margin-left: 275px;
    width: 76px;
  }

  /**
  * sets the position of the arrow in the "Erklärung"
  */
  #pfeil {
    position: fixed;
    left: -235px;
    top: 15%;
  }
}
