page-armgebrauch7 {

/**
* sets the position of the image for the likert scale
*/
  img {
    z-index: -10000 !important;
    position: fixed;
    top: 90px;
    margin-left: 275px;
    width: 76px;
  }

  /**
  * sets the position of the image for the likert scale for ios
  */
  .ios img {
    z-index: -10000 !important;
    position: fixed;
    top: 80px;
    margin-left: 100px;
    width: 107px;
  }
}
