page-armgebrauch7 {


img{
    z-index: -10000 !important;
    position: fixed;
    top: 90px;
    margin-left: 275px;
    width: 76px;
  }

  .ios img{
    z-index: -10000 !important;
    position: fixed;
    top: 80px;
    margin-left: 100px;
    width: 107px;
  }
}
